@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
* {
    font-family: 'Roboto', sans-serif;
}

:root {
    --primary-soft: #f3f3f3;
    --green-light: #e8f5e9;
    --red--ligth: #fce4ec;
}

.content {
    background-color: var(--primary-soft);
    overflow: scroll;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) inset;
}

.nav-brand {
    position: sticky;
    background-color: white;
    top: 0;
}

.sidebar {
    overflow: scroll;
}

.header {
    position: sticky;
    top: 0.2rem;
    z-index: 2000;
}

.nav-menu {}

.nav-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu-title {
    padding: 10px 0;
    text-transform: uppercase;
    font-weight: bold;
    color: #949494;
}

.menu-item {
    transition: 0.5s;
}

.menu-item:hover {
    background-color: var(--primary-soft);
    border-radius: 0.25rem;
}

.menu-item-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--dark);
    padding: 10px;
    border-radius: 0.25rem;
}

.menu-item-link.active {
    background-color: var(--primary);
    color: white !important;
}

.menu-item-link:hover {
    text-decoration: none;
    color: var(--dark);
}

.menu-item-link span {}

.menu-item-link i {}

.menu-spacer {
    padding: 10px 0;
}

.user-img {
    width: 40px;
}

.card {
    border: none;
}

.status-card {
    transition: 0.3s;
}

.status-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.status-card:active {
    transform: scale(1.03);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.ov-img {
    margin-left: -25px;
}

.item-show {
    margin-top: -100px;
}

.item-carousel {
    margin-top: -100px;
}

.item-card-img {
    height: 200px;
}

.badge-success {
    background-color: var(--green-light);
    color: green;
}

.badge-btn {
    /* margin: 59px; */
    width: 50px;
    height: 30px;
    align-items: center;
    line-height: 15px;
}

.badge-danger {
    background-color: var(--red--ligth);
    color: red;
}

.full-screen-card {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 2005;
    overflow: scroll;
}

@media screen and (max-width:780px) {
    .sidebar {
        position: fixed;
        width: 300px;
        z-index: 2001;
        display: block !important;
        background-color: white;
        margin-left: -100%;
    }
}